/* ***COMMONS*** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ***HEADER*** */

/* ***MAIN*** */

main{
    height: 100vh;
    width: 100vw;   
    background: linear-gradient(to bottom,
           red 15%, blue 15% 100%); 
    position: relative;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}



.container{
    height: 90%;
    width: 1200px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
    background-color: white;
}

.sinistro{
    display:flex ;
    width: 35%;
    height: 100%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;

}

.destra{
    display: flex;
    width: 65%;
    height: 100%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;

}

.registro{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 10px ;
}

.pulsanti i{
    margin: 0 5px;
    cursor: pointer;
    color: grey;
}

.notifiche {
    height: 70px;
    width: 100%;
    background-color: rgb(103, 211, 175);
}

.loghetto {
    height: 70px;
    display: flex;
    align-items: center;
}

.loghetto i{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    line-height: 40px;
    color: rgb(103, 211, 175);
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.link{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.search-bar{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightgrey; */
}

.input{
    height: 88%;
    width: 98%;
    display: flex;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    /* background-color: lightpink; */
}

.input input{
    height: 30px;
    width: 400px;
    margin: auto 5px;
    border: none;
    border-radius: 3px;
}

.input i{
    margin: auto 5px;
}

/* ***USARE IL WRAP QUA*** */

.utenti{
    margin-top: 5px;
    height: calc(100% - 140px);
    overflow-y: scroll;
    /* background-color: lightpink; */
}

.box-utente{
    height: 80px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.box-utente img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 10px ;
}

.utente-chat{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}

.logo-chat{
    height: 50px;
    display: flex;
    align-items: center;
}

.logo-chat img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 10px ;
}

.pulsanti-chat i{
    margin: 0 5px;
    cursor: pointer;
    color: grey;
}

.link-due{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.link-due p{
    font-weight: bold;
}

.link-due span{
    font-size: 10px;
    font-weight: bold;
    color: grey;
}


/* ***BELLO PIENO DOMANI*** */

.chat{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 30px 40px;
}



/* ***BELLO PIENO DOMANI*** */

.input-mess{
    height: 50px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-mess i{
    font-size: 20px;
    margin: 0 15px;
    color: gray;
}

.input-mess input{
    height: 40px;
    width: 700px;
    padding: 0 10px;
    border-radius: 3px;
    border: none;
}

.active{
    background-color: lightgrey;
}


.message{
    display: flex;  
}

.mess-text{
    max-width: 40%;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
    margin: 10px;
    position: relative;
}

.text{
    max-width: 30%;
    border-radius: 10px;
    padding:10px;
    text-align: center;
}

.inizio{
    margin: auto;
    background-color: rgba(241, 241, 241, 0.483);
}

.mess-text.my{
    background-color: greenyellow;
    margin-left: auto;
    margin-bottom: 10px;
}

.mess-text.others{
    background-color: white;
}

.massage-date{
    position: absolute;
    font-size: 11px;
    color: #888;
    bottom: 3px;
    right: 4px;
    
    
}



/* ***FOOTER*** */