<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>
</head>
<body>

    <div id="root">

    <!-- inizio header -->
    <header>

    </header>
    <!-- fine header -->

    <!-- inizio main -->
    <main>

        <div class="container ">

            <div class="sinistro">

                <div class="registro">

                    <div class="logo">

                        <img :src="`img/avatar${user.avatar}.jpg`" alt="logo">
                        <span>{{user.name}}</span>

                    </div>

                    <div class="pulsanti"> 

                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>

                    </div>

                </div>

                <div class="notifiche">

                    <div class="loghetto">

                        <i class="fas fa-bell-slash"></i>

                        <div class="link">

                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche di desktop</a>

                        </div>

                    </div>

                </div>

                <div class="search-bar">

                    <div class="input">

                        <i class="fas fa-search"></i>
                        <input type="text" v-model="cerca" placeholder="Cerca o inizia una nuova chat" @keyup="cercaUtente()">

                    </div>

                </div>

                <div class="utenti" >

                    <div class="box-utente" v-if="contact.visible"
                    v-for="(contact,index) in contacts" @click="cambioContatto(index)" :class="index == currentContact ? 'active' : null" >

                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                        <span>{{contact.name}}</span>

                    </div>


                </div>

            </div>

            <div class="destra">

                <div class="utente-chat">   
                    
                    <div class="logo-chat">

                        <img :src="`img/avatar${contacts[currentContact].avatar}.jpg`" alt="logo">
                        

                        <div class="link-due">

                            <p>{{contacts[currentContact].name}}</p>
                            <span>Ultimo accesso oggi alle</span>

                        </div>

                    </div>

                    <div class="pulsanti-chat"> 

                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>

                    </div>

                </div>

                <div class="chat">

                    <!-- <div class="messege">

                        <div class="text inizio">
                            <span>Chat iniziata il 12/04/2016</span>
                        </div>

                    </div> -->

                    <div class="message" v-for="(mess,index) in contacts[currentContact].messages">

                        <div class="mess-text" :class="mess.status">
        
                            <div class="testo-messaggio">{{mess.message}}</div>
                            <div class="message-date">{{mess.date}}</div>

                        </div>

                    </div>



                </div>

                <div class="input-mess">

                    <i class="far fa-smile"></i>
                    <input type="text" v-model="nuovoMessaggio" placeholder="Scrivi un messaggio" @keypress.enter="addMessage()">

                    <i class="fas fa-microphone" v-if="nuovoMessaggio == '' ">
                        
                    </i>
                    <i class="fas fa-paper-plane" v-else @click="addMessage()" ></i>

                </div>
                
            </div>

        </div>

    </main>
    <!-- fine main -->

    <!-- inizio footer -->
    <footer>

    </footer>
    <!-- fine footer -->
</div>


     <!-- development version, includes helpful console warnings -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <script src="js/script.js"></script>
 

</body>
</html>